{{> document_head }}
<body class="article">
	{{> main_header }}

	<article class="hentry">
	{{>hero_intro }}
	<main class="main-content">
	{{#sections}}{{/sections}}
	</main>
	</article>

	{{> main_footer }}
</body>
</html>
