<section class="serie-preview {{ bg_class }}">

	<div class="container">

		<h3>Here we have {{ count parent.relatedPosts}} posts in this serie</h3>
		<div class="media-container-row">
			{{#each parent.relatedPosts}}
			{{> article_card }}
			{{/each}}
		</div>

	</div>

</section>
