<section class="jumbotron three-columns">
	<div class="container">
		<div class="row">
			<div class="header">
				{{{ column_header }}}
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="column text">
				{{{ column_one }}}
			</div>
			<div class="column text">
				{{{ column_two }}}
			</div>
			<div class="column text">
				{{{ column_three }}}
			</div>
		</div>
	</div>
</section>
