// main: ../main.less
@import "../neo-gothic";
@import "../site";

footer#main-footer {
	padding:40px 0;
	background: @gray-darker;

	ul {
		padding:0;
		list-style:none;
		text-align:center;
		font-size:inherit;
		line-height:1.6;
		margin-bottom:0;
		li {
			padding:0 10px;
		}
		a {
			color:white;
			&.item.social {
				border:none!important;
				width:80px!important;
				height:80px!important;
			}
		}
	}
	.copyright {
		margin-top: 15px;
		text-align: center;
		font-size: small;
		color: white;
		margin-bottom: 0;
	}
}





